<script type="text/ng-template" id="grouphint.ejs">
  <ui class="list-group" >
    <li class="list-group-item">{{match.model.name}}</li>
    <li class="list-group-item">{{match.model.group}}</li>
  </ui>
</script>
