<script type="text/ng-template" id="belongFilter.html">
  <li class="list" >
    <div class="char_img">
      <img ng-src="{{match.model.img}}">
    </div>
    <div class="cha_name">{{match.model.name}}</div>
    <div class="cha_group">{{match.model.group}}</div>
  </li>
</script>  
